In [ ]:
fruits=["banana", "apple", "orange", "cherry"]
fruits[1]

In [ ]:
numbers=[10, 20, 30, 40, 50]
numbers[4] #numbers[-1]도 가능

In [ ]:
fruits=["apple", "banana", "cherry"]
fruits[1]="grape"
fruits

In [ ]:
fruits=["apple", "banana", "cherry"]
fruits.append("strawberry")
fruits

In [ ]:
numbers=[10, 20, 30, 40, 50]
numbers.pop(2)
numbers

In [ ]:
numbers=[5, 10, 15, 20, 25]
len(numbers)

In [ ]:
numbers=[10, 5, 8, 3, 15]
print(min(numbers), max(numbers), end=' ')

In [ ]:
numbers=[10, 20, 30, 40, 50]
sum(numbers)

In [ ]:
numbers=[1, 2, 3, 4, 5]
a=[]
for i in numbers:
  a.append(i**2)
print(a)

In [ ]:
def square(x): #함수 정의
  newlist=[]
  for i in x:
    newlist.append(i**2)
  return newlist   # 값 변환
square([1, 2, 3, 4, 5])   #함수 호출

In [ ]:
fruits=["apple", "banana", "apple", "cherry", "apple"]
fruits.count("apple")

In [ ]:
def square(x): #함수의 정의
  return x**2  #result=x**2; return result 도 가능, 값을 반환
square(3)  #함수의 호출

In [ ]:
def BMI(h, w):
  height=h*0.01
  bmi=w/(height**2)
  return bmi
BMI(170, 70)